<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CUSTOMER-FORM</title>

</head>
<body>
<div align="center">

<h1 style="color:red">CUSTOMER-FORM</h1>

<form>
<table>

 
  <tr>
    <td><label>Enter Customer Name</label></td>
    <td><input type="text"></td>
  </tr>
  
   <tr>
    <td><label>Enter Customer Last Name</label></td>
    <td><input type="text"></td>
  </tr>
  
   <tr>
    <td><label>Enter Customer Phone</label></td>
     <td><input type="text"></td>
 
  
  </table>
 
</form>
</div>

</body>
</html>