<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>VEHICLE-INFO</title>

</head>
<body>
<div align="center">

<h1 style="color:red">VEHICLE-INFO</h1>

<form>
<table>

 
  <tr>
    <td><label>Enter Year</label></td>
    <td><input type="text"></td>
  </tr>
  
   <tr>
    <td><label>Enter Make</label></td>
    <td><input type="text"></td>
  </tr>
  
   <tr>
    <td><label>Enter Model</label></td>
     <td><input type="text"></td>
 
  
  </table>
 
</form>
</div>

</body>
</html>